
* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

:root {
    --rojo-marvel: #e23636;
    --negro-profundo: #000000;
    --gris-oscuro: #202020;
    --blanco: #ffffff;
    --dorado-critica: #ffcc00;
    --espaciado-8: 0.5rem;  
    --espaciado-16: 1rem;   
    --espaciado-24: 1.5rem; 
}

body {
    background-color: var(--negro-profundo);
    color: var(--blanco);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

header {
    background-color: var(--negro-profundo);
    padding: var(--espaciado-24);
    border-bottom: 4px solid var(--rojo-marvel);
    text-align: center;
}

.logo-text {
    background-color: var(--rojo-marvel);
    color: var(--blanco);
    padding: 5px 15px;
    font-weight: bold;
    font-size: 1.8rem;
    display: inline-block;
}

.logo-subtext {
    border: 2px solid var(--blanco);
    padding: 3px 10px;
    margin-left: 5px;
    font-size: 1.8rem;
    display: inline-block;
}

nav {
    margin-top: var(--espaciado-16);
}

.nav-link {
    color: var(--blanco);
    text-decoration: none;
    padding: var(--espaciado-8) var(--espaciado-16);
    margin: 0 5px;
    border: 1px solid transparent;
    display: inline-block; 
}

.nav-link:hover {
    border-color: var(--rojo-marvel);
    color: var(--rojo-marvel);
}

main {
    padding: var(--espaciado-24);
}

.contenedor-grilla {
       flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: var(--espaciado-24);
}

.pelicula-card {
    background-color: var(--gris-oscuro);
    width: 250px; 
    border-radius: 8px;
    padding: var(--espaciado-16);
    border: 1px solid #333;
    text-align: center;
}

footer {
    background-color: var(--gris-oscuro);
    padding: var(--espaciado-24);
    margin-top: 40px;
    border-top: 1px solid var(--rojo-marvel);
    text-align: center;
}

section {
    margin-bottom: 3rem; 
    padding: 0 var(--espaciado-16); 
}
