
* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

:root {
    --rojo-marvel: #e23636;
    --negro-profundo: #000000;
    --gris-oscuro: #202020;
    --blanco: #ffffff;
    --dorado-critica: #ffcc00;
    --espaciado-8: 0.5rem;  
    --espaciado-16: 1rem;   
    --espaciado-24: 1.5rem; 
}

body {
    background-color: var(--negro-profundo);
    color: var(--blanco);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    display: grid;
    grid-template-rows: auto 1fr auto; 
    min-height: 100vh;
}

header {
    background-color: var(--negro-profundo);
    padding: var(--espaciado-24);
    border-bottom: 4px solid var(--rojo-marvel);
    text-align: center;
}

.logo-text {
    background-color: var(--rojo-marvel);
    color: var(--blanco);
    padding: 5px 15px;
    font-weight: bold;
    font-size: 1.8rem;
    display: inline-block;
}

.logo-subtext {
    border: 2px solid var(--blanco);
    padding: 3px 10px;
    margin-left: 5px;
    font-size: 1.8rem;
    display: inline-block;
}

nav {
    margin-top: var(--espaciado-16);
}

.nav-link {
    color: var(--blanco);
    text-decoration: none;
    padding: var(--espaciado-8) var(--espaciado-16);
    margin: 0 5px;
    border: 1px solid transparent;
    display: inline-block; 
}

.nav-link:hover {
    border-color: var(--rojo-marvel);
    color: var(--rojo-marvel);
}

main {
    padding: var(--espaciado-24);
}

.contenedor-grilla {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); 
    gap: 30px; 
    padding: var(--espaciado-24);
    max-width: 1200px; 
    margin: 0 auto;
}

.pelicula-card {
    background-color: var(--gris-oscuro);
    border-radius: 8px;
    padding: 1rem;
    border: 1px solid #333;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
}

pelicula-card:hover {
    transform: translateY(-10px); 
    border-color: var(--rojo-marvel); 
    box-shadow: 0 10px 20px rgba(226, 54, 54, 0.2); 
}

.pelicula-card img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: var(--espaciado-16);
    filter: grayscale(30%);
    transition: 0.3s;
}

.pelicula-card:hover img {
    filter: grayscale(0%); 
}

footer {
    background-color: var(--gris-oscuro);
    padding: var(--espaciado-24);
    margin-top: 40px;
    border-top: 1px solid var(--rojo-marvel);
    text-align: center;
}

section {
    margin-bottom: 3rem; 
    padding: 0 var(--espaciado-16); 
}
